<div class="card-align">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/img/perfil.PNG" class="card-img-top" alt="Foto perfil">
        <div class="card-body">
            <p class="card-text">Olá me chamo Eduardo Lucas, tenho 21 anos e atualmente estou no 7 período de sistemas de Informações no centro universitário UNA, no campus Aimorés, já tive experiencias de estágios na área de suporte ao usuário, mas meu sonho sempre foi trabalhar com desenvolvimento em uma empresa que me desse oportunidade de crescimento e aprendizagem. </p>
        </div>
    </div>
</div>